.footer__email {
    box-sizing: border-box;
    outline:none;
    color: rgba(199, 199, 199, 0.5);
    border: 1px solid rgba(199, 199, 199, 0.5);
    width: 360px;
    height: 50px;
    margin-bottom: 100px;
    padding-top: 11px;
    padding-left: 20px;
    padding-bottom: 11px;
}

.footer__email:focus::-webkit-input-placeholder { 
    color:transparent; 
}

.footer__email:hover::-webkit-input-placeholder {
    color: #151515;
}