.bicycles__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #222222;
    opacity: 0.7;
    text-decoration: none;
}

.bicycles__link:first-of-type {
    font-style: normal;
    font-weight: 600;
    color: #151515;
    opacity: 1;
}

.bicycles__link:hover {
    opacity: 0.6;
}

.bicycles__link:first-of-type:hover {
    opacity: 0.75;
}

