.quotation__text {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 129%;
    letter-spacing: -0.5px;
    color: #151515;
    margin: 0;
    max-width: 470px;
}